%% -*- erlang -*-
{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{erl_opts, [ debug_info
           , warn_unused_vars
           , warn_shadow_vars
           , warn_unused_import
           , warn_obsolete_guard
           , warnings_as_errors
           ]}.

{deps, []}.

{escript_emu_args, "%%! +sbtu +A1 +Bd -noshell -smp auto\n"}.

{profiles,
  [
      {'8to9', [{escript_main_app, '8to9'}]}
    , {od, [{escript_main_app, od}]}
  ]}.
