%% -*- erlang -*-
%% rebar.config for pdp10-tools
%% Copyright (C) 2018-2020  Mikael Pettersson
%%
%% This file is part of pdp10-tools.
%%
%% pdp10-tools is free software: you can redistribute it and/or modify
%% it under the terms of the GNU General Public License as published by
%% the Free Software Foundation, either version 3 of the License, or
%% (at your option) any later version.
%%
%% pdp10-tools is distributed in the hope that it will be useful,
%% but WITHOUT ANY WARRANTY; without even the implied warranty of
%% MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
%% GNU General Public License for more details.
%%
%% You should have received a copy of the GNU General Public License
%% along with pdp10-tools.  If not, see <http://www.gnu.org/licenses/>.

{eunit_opts, [verbose, {report, {eunit_surefire, [{dir, "."}]}}]}.

{erl_opts, [ debug_info
           , warn_unused_vars
           , warn_shadow_vars
           , warn_unused_import
           , warn_obsolete_guard
           , warnings_as_errors
           ]}.

{deps, []}.

{xref_checks,
  [ undefined_function_calls
  , undefined_functions
  , locals_not_used
  , exports_not_used
  , deprecated_function_calls
  , deprecated_functions
  ]}.

%% silence xref unsed export warnings
{xref_ignores,
  [ %% escript entry points (rebar ought to know about these)
    {'8to9', main, 1}
  , {ar, main, 1}
  , {as, main, 1}
  , {ld, main, 1}
  , {nm, main, 1}
  , {od, main, 1}
  , {readelf, main, 1}
  , {sim, main, 1}
    %% indirect calls to Module:format_error/1
  , {assemble, format_error, 1}
  , {getopt, format_error, 1}
  , {input, format_error, 1}
  , {ld, format_error, 1}
  , {ld_input, format_error, 1}
  , {ld_output, format_error, 1}
  , {output, format_error, 1}
  , {parse, format_error, 1}
  , {pdp10_elf36, format_error, 1}
  , {pdp10_stdio, format_error, 1}
  , {scan, format_error, 1}
  , {scan_state, format_error, 1}
  , {sim, format_error, 1}
  , {sim_core, format_error, 1}
  , {sim_loader, format_error, 1}
  , {strtol, format_error, 1}
    %% only called from tests
  , {sim_core, run, 2}
    %% actual unused exports
  , {pdp10_opcodes, cpu_device_from_name, 2}
  , {pdp10_opcodes, models_from_name, 1}
  ]}.

{escript_emu_args, "%%! +sbtu +A1 +Bd -noshell -smp auto\n"}.

{profiles,
  [ {'8to9', [{escript_main_app, '8to9'}]}
  , {ar, [{escript_main_app, ar}]}
  , {as, [{escript_main_app, as}]}
  , {ld, [{escript_main_app, ld}]}
  , {nm, [{escript_main_app, nm}]}
  , {od, [{escript_main_app, od}]}
  , {readelf, [{escript_main_app, readelf}]}
  , {sim, [{escript_main_app, sim}]}
  ]}.
